
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda+SC:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Ephesis&family=Faster+One&family=IM+Fell+DW+Pica:ital@0;1&family=Rampart+One&display=swap');


body {
    display: flex;
    flex-direction: column;
    /* to stack its children vertically on top of each other */
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background: linear-gradient(to bottom, #26c1ff 0%, #7eb4fc 50%, #6996f7 50%, #05053a 100%); /* color for sky and water */
    overflow: hidden;
}

:root {
    --primary-color: #98d475;
}

/* ------------- From Uiverse.io by alexruix ------------ */
.pre-loader {
    --loader-speed: 5s;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 20;
    transition: opacity 0.5s ease;
}

.loader-content {
    position: relative;
    width: 80px;
    height: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loader-text {
    position: relative;
    top: 0;
    padding: 0;
    margin: 0;
    color: #98d475;
    animation: text_713 5s ease both infinite;
    font-size: 30px;
    letter-spacing: 1px;
    font-family: "Bodoni Moda SC", serif;
    font-optical-sizing: auto;
    font-weight: 100;
}

.load {
    background-color: #96ff6c;
    border-radius: 50px;
    display: block;
    height: 16px;
    width: 16px;
    bottom: 0;
    position: relative;
    transform: translateX(64px);
    animation: loading_713 5s ease both infinite;
}

.load::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color: #ccffc2;
    border-radius: inherit;
    animation: loading2_713 5s ease both infinite;
}

.loader-hidden {
    opacity: 0;
    pointer-events: none;
    /*allows user to click things behind the hidden div*/
}

@keyframes text_713 {
    0% {
        letter-spacing: 1px;
        transform: translateX(0px);
    }

    40% {
        letter-spacing: 2px;
        transform: translateX(26px);
    }

    80% {
        letter-spacing: 1px;
        transform: translateX(32px);
    }

    90% {
        letter-spacing: 2px;
        transform: translateX(0px);
    }

    100% {
        letter-spacing: 1px;
        transform: translateX(0px);
    }
}

@keyframes loading_713 {
    0% {
        width: 16px;
        transform: translateX(0px);
    }

    40% {
        width: 100%;
        transform: translateX(0px);
    }

    80% {
        width: 16px;
        transform: translateX(64px);
    }

    90% {
        width: 100%;
        transform: translateX(0px);
    }

    100% {
        width: 16px;
        transform: translateX(0px);
    }
}

@keyframes loading2_713 {
    0% {
        transform: translateX(0px);
        width: 16px;
    }

    40% {
        transform: translateX(0%);
        width: 80%;
    }

    80% {
        width: 100%;
        transform: translateX(0px);
    }

    90% {
        width: 80%;
        transform: translateX(15px);
    }

    100% {
        transform: translateX(0px);
        width: 16px;
    }
}

/*----------------------------------------------------*/

.projects {
    display: none;
}

.about {
    display: none;
}
.animation-wrapper {
    position: relative;
    display: inline-block;
    min-height: 150px;
    /* display: flex; */
    /* justify-content: flex-start; */
    /* flex-direction: column; */
}
#dialogue-container {
    display: flex;
    flex-direction: column; /* to stack childrens vertically */
    align-items: center; /* to center childrens horizontally */
    padding: 40px;
    /* margin-bottom: -80px; */
    /* To ensure absolute elements don't spill inappropriately */
    position: relative;
}

#dialogue-text {
    font-family: "IM Fell DW Pica", serif;
    font-weight: 100;
    font-size: 1.5rem;
    /* Increased bottom margin for grass space */
    margin-bottom: 60px 60px 0 60px; /*top right bottom left*/
    min-height: 2em;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 1px #000000;
    text-align: center;


    /* position element is needed to use z-index */
    position: relative;
    z-index: 2;

    /* FLOATING ANIMATION */
    animation: floating 3s ease-in-out infinite;
}
/* CLOUDS */
.cloud-layers {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;

    z-index: 1;
    pointer-events: none;
}
.cloud { /* the base*/
    position: absolute;
    background: #ffffff;
    border-radius: 50px;
    width: 80px;
    height: 40px;
    filter: blur(2px);
    /* opacity: ; */
    box-shadow: 2px 1px 1px rgb(183, 128, 255),
                2px 1px 2px rgb(255, 95, 95);
}
.cloud::after, .cloud::before { /* the puff*/
    content: "";
    position: absolute;
    background: inherit;
    border-radius: 50%;
    top: -15px; /* this line lifts the circle so it sits on top of the base */
}
.cloud::after {
    top: -10px;
    left: 15px;
    width: 50px;
    height: 50px;
    box-shadow: 1px 1px 1px black;
}
.cloud::before {
    top: -20px;
    left: 25px;
    width: 35px;
    height: 35px;
    box-shadow: 1px 1px 1px black;
}
.cloud-large {scale: 1.5;}
.cloud-med {scale: 1.0;}
.cloud-small {scale: 0.7;}
.c1 {top:10%; left: -100px; animation: drift 100s linear infinite;}
.c2 {top:30%; left: -80px; animation: drift 85s linear infinite;}
.c3 {top:75%; left: -60px; animation: drift-2 90s linear infinite;}
.c4 {top:75%; left: -50px; animation: drift-2 95s linear infinite;}
.c5 {top:50%; left: -30px; animation: drift-2 102s linear infinite;}
.c6 {top:70%; left: -70px; animation: drift-2 102s linear infinite;}
@keyframes drift { /* for clouds to come from left 150px*/
    from{transform: translateX(-100px);}
    to { transform: translateX(100vw);}
}
@keyframes drift-2 { /* for clouds to come from left 100px*/
    from{transform: translateX(-2px);}
    to { transform: translateX(100vw);}
}


/* GRASS */
.grass {
    position: absolute;
    bottom: -60px;
    left: 50%; /* centers 50% from left*/
    transform: translateX(-50%) translateY(-60%);
    transform-origin: bottom center;
    /* make it wide enough to cover the text width for a nice patch */
    width: 300px;
    height: 45px;

    /* a radiel gradient for a rounded mound, lighter green top, darker bottom */
    background: radial-gradient(ellipse at top, #b4ff96d5, #68c43ed5);

    /* complex border-radius for a stylized mound shape */
    border-radius: 50% 50% 20% 20% / 70% 70% 30% 30%;
    /* top-left, top-right, bottom-right, bottom-left / repeat for vertical radii */

    /* to place it behind shadow and text */
    z-index: -2;

    border-bottom: 3px solid #4a8c2c;
    
}
/*THE SHADOW EFFECT*/
.shadow {
    position: absolute;

    /* Position it below the text and above the grass center*/
    bottom: -10px; /* exactly at grass level (ADJUST) */
    left: 50%;
    transform: translateX(-50%);

    /* To create the oval shape (narrower than the grass patch */
    width: 200px;
    height: 12px;

    background: rgba(51, 51, 51, 0.829);
    border-radius: 50%;
    filter: blur(4px);
    /* to sit between grass and text */
    z-index: -1;

/* THE SHADOW ANIMATION */
    animation: shadow-scale 3s ease-in-out infinite;
}



/* ANIMATION LOGIC */

@keyframes floating {
    0%, 100% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-20px); /* To move UP */
    }
}

@keyframes shadow-scale {
    0%, 100% {
        transform: translateX(-50%)scale(1);
        opacity: 0.4;
    }
    50% {
        /* When text is high, shadow is small and faint */
        transform: translateX(-50%) scale(0.6);
        opacity: 0.1;
    }
}

/* end of boat animation */


#next_btn {
    display: block;
    margin-top: 20px;
    background-color: transparent;
    border: transparent;
    color: white;
    font-size: 20px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

#next_btn:hover,
.links a:hover {
    transform: scale(1.1);
}
.links,
.links a {
    display: flex;
    margin-top: 10px;
    justify-content: center;
    gap: 30px;
    font-size: 30px;
    color: #ffffff;
}
.icons {

    position: relative;
    display: inline-block;
}
/* -------for drop-down style------- */
.dropdown-content {
    font-family: "IM Fell DW Pica", serif;
    position: absolute;
    bottom: -10%; /* centered above the icon/ default position */
    left: 10;

    background: white;
    width: auto;
    border-radius: 0.5rem;
    z-index: 100;
    overflow: hidden;
    white-space: nowrap; /* to prevent the text from wrapping to the next line */
    box-shadow: 0px 2px 5px hsla(0, 0%, 0%, 0.2);

/* hiding state*/
    opacity: 0;
    pointer-events: none;

    /* for the delaying the dropdown dissapearance */
    transition: opacity 0.3s ease 0.4s, transform 0.3s ease 0.4s; /*2s transition-delay*/

}
.icons:hover .dropdown-content {
    opacity: 1;
    pointer-events: auto;
    /* transform: translateX(-50%) translateY(0%); */
    transform: translateX(-50%) translateY(-80%);
    /* to override the delay so to remove the delay while appearing */
    transition: opacity 0.3s ease 0s, transform 0.3s ease 0s;
}
 /* we write transfor, 2 times to define the starting position of the dropdown as well as the end position after it appears */
.dropdown-content p {
    font-size: 1rem;
    color:#000000;
    padding: 1rem 1rem;
    text-decoration: #96ff6c;
    display: block;
    margin: 0;
}
.dropdown-content p:hover {
    background-color: #68c43e;
}
.modal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    z-index: 100;
}
.modal-content {
    background: rgba(20, 20, 20, 0.9);
    border: 2px solid #fff27a;

    width: 400px;
    height: 300px;
    color: white;
    margin: 10vh auto; /* here auto centers it horizontally*/
    padding: 30px;
    border-radius: 20px;
    position: relative;
    font-family: "IM FELL DW Pica", serif;
    animation: windowPop 0.3s ease-out;
}
/* Close Button for the smaller window */
.close-btn {
    position: absolute;
    top: 15px;
    right: 20px;
    font-size: 2rem;
    cursor: pointer;
    transition: 0.3s;
}
.close-btn:hover {
    transform: scale(1.2);
    text-shadow: 0 0 10px #fff27a;
}
@keyframes windowPop {
    from { transform: scale(0.8); opacity: 0;}
    to { transform: scale(1); opacity: 1;}
}