
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda+SC:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Ephesis&family=Faster+One&family=IM+Fell+DW+Pica:ital@0;1&family=Rampart+One&display=swap');


body {
    display: flex;
    flex-direction: column;
    /* to stack its children vertically on top of each other */
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #97ca79;
    color: #ffffff;

}

:root {
    --primary-color: #98d475;
}

/* ------------- From Uiverse.io by alexruix ------------ */
.pre-loader {
    --loader-speed: 5s;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    transition: opacity 0.5s ease;
}

.loader-content {
    position: relative;
    width: 80px;
    height: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loader-text {
    position: relative;
    top: 0;
    padding: 0;
    margin: 0;
    color: #98d475;
    animation: text_713 5s ease both infinite;
    font-size: 30px;
    letter-spacing: 1px;
    font-family: "Bodoni Moda SC", serif;
    font-optical-sizing: auto;
    font-weight: 100;
}

.load {
    background-color: #96ff6c;
    border-radius: 50px;
    display: block;
    height: 16px;
    width: 16px;
    bottom: 0;
    position: relative;
    transform: translateX(64px);
    animation: loading_713 5s ease both infinite;
}

.load::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color: #ccffc2;
    border-radius: inherit;
    animation: loading2_713 5s ease both infinite;
}

.loader-hidden {
    opacity: 0;
    pointer-events: none;
    /*allows user to click things behind the hidden div*/
}

@keyframes text_713 {
    0% {
        letter-spacing: 1px;
        transform: translateX(0px);
    }

    40% {
        letter-spacing: 2px;
        transform: translateX(26px);
    }

    80% {
        letter-spacing: 1px;
        transform: translateX(32px);
    }

    90% {
        letter-spacing: 2px;
        transform: translateX(0px);
    }

    100% {
        letter-spacing: 1px;
        transform: translateX(0px);
    }
}

@keyframes loading_713 {
    0% {
        width: 16px;
        transform: translateX(0px);
    }

    40% {
        width: 100%;
        transform: translateX(0px);
    }

    80% {
        width: 16px;
        transform: translateX(64px);
    }

    90% {
        width: 100%;
        transform: translateX(0px);
    }

    100% {
        width: 16px;
        transform: translateX(0px);
    }
}

@keyframes loading2_713 {
    0% {
        transform: translateX(0px);
        width: 16px;
    }

    40% {
        transform: translateX(0%);
        width: 80%;
    }

    80% {
        width: 100%;
        transform: translateX(0px);
    }

    90% {
        width: 80%;
        transform: translateX(15px);
    }

    100% {
        transform: translateX(0px);
        width: 16px;
    }
}

/*----------------------------------------------------*/

.projects {
    display: none;
}

.about {
    display: none;
}

#dialogue-container {
    /* border: 2px solid wheat; */
    text-align: center;
    padding: 40px;
}

#dialogue-text {
    font-family: "IM Fell DW Pica", serif;
    font-weight: 100;
    font-size: 1.5rem;
    margin: 60px;
    min-height: 2em;
    color: white;

    /* position: relative;
    display: inline-block; */

    /* FLOATING ANIMATION */
    animation: floating 3s ease-in-out infinite;
}
/*THE SHADOW EFFECT*/
#dialogue-text::after {
    content: "";
    position: absolute;

    /* Position it below the text */
    bottom: -30px;
    /* left: 50%; */
    /* transform: translateX(); */

    animation: shadow-scale 3s ease-in-out infinite;
}


/* ANIMATION LOGIC */

@keyframes floating {
    0%, 100% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-20px); /* Move UP */
    }
}

@keyframes shadow-scale {
    0%, 100% {
        transform: translateX(-50%) scale(1);
        opacity: 0.4;
    }
    /* 50% {
        /* When text is high, shadow is small and faint */
        /* transform: translateX(-50%) scale(0.6); */
        /* opacity: 0.1; */
    /*} */
}

#next_btn {
    background-color: transparent;
    border: transparent;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

#next_btn:hover,
.links a:hover {
    color: black;
}

.links,
.links a {
    display: flex;
    justify-content: center;
    gap: 30px;
    font-size: 30px;
    color: #ffffff;
}
.icons {

    position: relative;
    display: inline-block;
}
/* -------for drop-down style------- */
.dropdown-content {
    font-family: "IM Fell DW Pica", serif;
    position: absolute;
    bottom: -10%; /* centered above the icon/ default position */
    left: 10;

    background: white;
    width: auto;
    border-radius: 0.5rem;
    z-index: 100;
    overflow: hidden; /* to crop the child element's overflow, specifically the sharp border corners of the p element on hover */
    white-space: nowrap; /* to prevent the text from wrapping to the next line */
    box-shadow: 0px 2px 5px hsla(0, 0%, 0%, 0.2);

/* hiding state*/
    opacity: 0;
    pointer-events: none;

    /* for the delaying the dropdown dissapearance */
    transition: opacity 0.3s ease 0.4s, transform 0.3s ease 0.4s; /*2s transition-delay*/

}
.icons:hover .dropdown-content {
    opacity: 1;
    pointer-events: auto;
    /* transform: translateX(-50%) translateY(0%); */
    transform: translateX(-50%) translateY(-80%);
    /* to override the delay so to remove the delay while appearing */
    transition: opacity 0.3s ease 0s, transform 0.3s ease 0s;
}
 /* we write transfor, 2 times to define the starting position of the dropdown as well as the end position after it appears */
.dropdown-content p {
    font-size: 1rem;
    color:#000000;
    padding: 1rem 1rem;
    text-decoration: #96ff6c;
    display: block;
    margin: 0;
}
.dropdown-content p:hover {
    background-color: #68c43e;
}


#projects {
    display: none;
}